
.land {
    display: grid;
    grid-template-columns: repeat(6, minmax(15rem, 1fr));
    grid-template-rows: repeat(5, 7rem);
    grid-gap: 1.5rem;
    padding: 3rem 0 3rem 3rem;
    align-items: center;

    &__me {
        font-size: 4rem;
        grid-column: 1 /-1;
        grid-row: 2 /3;
    }

    &__skills {
        font-size: 2rem;
        padding: 20px 0;
        grid-column: 1 /4;
        grid-row: 3 /4;
        border-bottom: 1px solid $color-4;
        border-top: 1px solid $color-5;
    }
}
