.contact {
    background-color: rgb(52, 68, 117);
}

.description {
    background-color: rgb(52, 117, 103);
}

.footer {
    background-color: rgb(71, 124, 76);
}

.landing {
    // background-image: linear-gradient(-75deg, 
    //                   rgba(255, 255, 255, 0.4) 40%,
    //                   rgb(232, 252, 244) 40%);
    // grid-row: landing-start / landing-end;
    // background-color: rgb(201, 175, 26);
    // grid-column: 1 / -1;
 
}

.navbar {
    background-color: rgb(112, 112, 112);
    color: white;
    font-size: 1.6rem;
    grid-row: 1 / 1;
    grid-column: 1 / -1;
}

.projects {
    background-color: rgb(169, 197, 65);
}

.skills {
    background-color: rgb(64, 136, 136);
}