
// primary colors
$font-color-1: rgb(54, 54, 54);

$color-white: rgb(247, 255, 247);
$color-white-2: rgb(238, 247, 238);
$color-white-3: rgb(223, 247, 247);

// $color-1: rgb(26, 83, 92);
// $color-1-light: rgb(72, 163, 177);
// $color-2: rgb(78, 205, 196);

// $color-4: rgba(255, 107, 107, 0.815);
// $color-4-light: rgba(248, 144, 144, 0.815);
// $color-5: rgba(255, 231, 109, 0.747);

// $color-gold: rgb(201, 180, 60);


$color-1: #535B5C;
$color-1-light: #748081;

$color-2: #084F52;
$color-2-light:#62bfc2;

$color-3: #10999E;
$color-3-light: #10999E;

$color-4: #15CBD1;
$color-4-light: #15CBD1;

$color-5: #96D7D9;
$color-5-light: #abe8eb;

$color-oppisite: #d47643;


// Font sizes
$header-1: 4rem;
$header-2: 2.5rem;
$header-3: 2rem;

$text-1: 1.4rem;
$text-2: 1.7rem;

