
// primary colors
$font-color-1: rgb(54, 54, 54);

$color-white: rgb(247, 255, 247);
$color-white-2: rgb(231, 243, 243);
$color-white-3: rgb(224, 233, 233);

$color-1: rgb(26, 83, 92);
$color-1-light: rgb(72, 163, 177);
$color-2: rgb(78, 205, 196);

$color-4: rgba(255, 107, 107, 0.815);
$color-4-light: rgba(248, 144, 144, 0.815);
$color-5: rgba(255, 231, 109, 0.747);

$color-gold: rgb(201, 180, 60);




// $font-color-1: rgb(54, 54, 54);

// $color-white: rgb(247, 255, 247);
// $color-white-2: rgb(231, 243, 243);
// $color-white-3: rgb(224, 233, 233);

// $color-1: rgb(26, 83, 92);
// $color-1-light: rgb(72, 163, 177);
// $color-2: rgb(78, 205, 196);

// $color-4: rgba(25, 133, 161, 0.815);
// $color-4-light: r rgba(25, 133, 161, 0.815);
// $color-5: rgba(172, 252, 217, 0.747);

// $color-gold: rgb(201, 180, 60);


// Font sizes
$header-1: 4rem;
$header-2: 2.5rem;
$header-3: 2rem;

$text-1: 1.4rem;

