
// primary colors
$font-color-1: rgb(54, 54, 54);

$color-white: rgb(247, 255, 247);
$color-white-2: rgb(229, 241, 241);
$color-white-3: rgb(224, 233, 233);

$color-1: rgb(26, 83, 92);
$color-1-light: rgb(72, 163, 177);
$color-2: rgb(78, 205, 196);

$color-4: rgba(255, 107, 107, 0.815);
$color-5: rgba(255, 231, 109, 0.747);



